<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <span class="mb-3 mb-md-0 text-body-secondary">&copy;
      <script>document.write(new Date().getFullYear())</script> Company, Inc | <a href="privacy.html"
        target="_blank">Privacy</a> | <a href="terms.html" target="_blank">Terms</a>
    </span>
  </div>
  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/adam-thompson-a547468/"
        target="_blank"><i class="bi bi-linkedin" style="font-size: 1.5rem;"></i></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="https://www.flickr.com/photos/adam-p-thompson/albums"
        target="_blank"><i class="bi bi-camera" style="font-size: 1.5rem;"></i></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="https://www.behance.net/adthomps" target="_blank"><i
          class="bi bi-behance" style="font-size: 1.5rem;"></i></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="https://www.youtube.com/channel/UChghyQZmnM2UYBYyJ2yhyVg"
        target="_blank"><i class="bi bi-youtube" style="font-size: 1.5rem;"></i></a></li>
  </ul>
</footer>